@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
* {
  /* background-color: #24252A; */
  margin: 0;
  /* padding: 0; */
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  /* background: url(./Images/background.jpg); */
  background-color: #dbe4fa;
}
#fix {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e2c39;
  padding: 0 20px;
  height: 5rem;
  font-size: 1.1rem;
  outline: #dbe4fa solid 10px;
  /* transition: margin ease; */
  /* filter: blur(2px); */
}
.logo {
  height: 5rem;
  transition: all 0.3s ease-in-out 0s;
  /* background-color: #24252a; */
  /* border-radius: 2rem; */
  /* align-self:flex-start; */
}
header button {
  cursor: pointer;
  background-color: rgba(0, 180, 224, 1);
  padding: 9px 25px;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
}
header button:hover {
  background-color: rgba(0, 180, 224, 0.8);
}
.logo:hover {
  transform: translateX(15px);
  /* transform: scale(1.2); */
  transition: all 0.3s ease-in-out 0s;
}
.nav a {
  text-decoration: none;
  color: #edf0f1;
}
.nav {
  /* display: inline-block; */
  /* list-style: none; */
}
.nav li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
}
.nav li a {
  transition: all 0.3s ease 0s;
}
.nav li a:hover {
  transition: all 0.3s ease 0s;
  font-size: larger;
  color: #00b4e0;
}

.card {
  /* border: 1px solid #ddd; */
  background-color: #1e2c39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #dfe3f1;
  padding-top: 30px;
  position: relative;
  max-width: 100%;
  text-align: center;
  margin: 10px;
  /* padding: 20px; */
  /* margin-bottom: 10px; */
}
#sidebar {
  width: 20%;
  height: calc(95vh - 5rem);
  position: relative;
  float: left;
  margin: 10px 0px 10px 10px;
}

/* -------------------------------------------------------------- */

h2 {
  margin: 10px 0;
}

h5 {
  margin: 5px 0;
  text-transform: uppercase;
}

#sidebar p {
  font-size: 18px;
  line-height: 21px;
}
p {
  font-size: 14px;
  line-height: 20px;
}

#sidebar .round {
  border: 1px solid #00b4e0;
  border-radius: 50%;
  padding: 7px;
  width: 70%;
  transition: all 0.3s ease 0s;
}
#sidebar .round:hover {
  border: 3px solid #07a6ce;
  border-radius: 50%;
  padding: 10px;
  /* width: 70%; */
  transition: all 0.3s ease 0s;
}

button.primary {
  background-color: #00b4e0;
  border: 1px solid #00b4e0;
  border-radius: 2rem;
  color: #1e2c39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  transition: all 0.3s ease 0s;
}
button.primary:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
  filter: opacity(0.8);
}

button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}
.buttons {
  margin: 20px 0px;
}

#main {
    position: relative;
  width: 77%;
  float: right;
  margin-left: 0;
  margin-top: calc(5rem + 10px);
  height: 100vh;
  padding: 0;
  /* background-color: #1e2c39; */
}
#main .top-card {
  margin: 0;
}
#main .card {
  margin: 0px 10px 10px 0px;
  padding: 10px;
}

/* typeWriter animation */
h2.name {
  position: relative;
  width: fit-content;
  margin: auto;
}
h2.name::after,
h2.name::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
h2.name::before {
  background-color: #1e2c39;
  animation: typewriter 4s ease-in forwards;
}

p.code::after,
p.code::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
p.code {
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: fit-content;
  margin: auto;
}
p.code::before {
  background-color: #1e2c39;
  /* background-color: red; */
  /* border-left: 2px solid #02899c; */
  animation: typewriter 3s steps(14) 4s forwards;
}
p.code::after{
    width: .125em;
    background-color: #02899c;
    animation: typewriter 3s steps(14) 4s forwards,
    blink 750ms steps(14)  infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
    to{
        background: transparent;
    }
}

/* #social-wrapper {
      text-align: center;
  } */

/*Social Media Icons*/
/* .social-wrapper {
      text-align: center;
  }
   */
.social-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
}
.social-wrapper ul li {
  text-decoration: none;
  display: inline-block;
}

.contact-icon {
  display: inline-block;
  margin-top: 0.625em;
  width: 90%;
  max-width: 45px;
  /* height: 40px; */
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
  transition: all 0.3s ease 0s;
}

.contact-icon:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
